@media screen and (min-width:576px) and (max-width:768px)
{
    .boxbody{
        flex-direction: column;
    }
    .bb {
        /*width: 100%;*/
        display: none;
    }

    .cdefg {
        width: 100%;
    }
    .dd{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .dd1 {
        width: 48%;
    }
    .ef{
        flex-direction: column;
    }
    .ee{
        width: 100%;
        justify-content: space-around;
    }
    .ff{
        width: 100%;
        flex-direction: column;
        flex-wrap: wrap;
        height: 180px;
        justify-content: center;
    }
    .ff1,.ff4    {
        width: 48%;
    }
    .ff4    {
        align-self: stretch;
    }
}

@media screen and (min-width:0px) and (max-width:576px)
{
    .boxbody{
        flex-direction: column;
    }
    .bb {
        /*width: 100%;*/
        display: none;
    }
    .cdefg {
        width: 100%;
    }
    .dd{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .dd1 {
        width: 98%;
    }
    .ef{
        flex-direction: column;
    }
    .ee{
        width: 100%;
        align-items: center;
        flex-direction: column;
    }
    .ee1    {
        width: 98%;
    }
    .ff{
        width: 100%;
    }
    .ff1,.ff4    {
        width: 98%;
    }
}